@media (min-width: 320px) and (max-width: 480px) 
{
  html{
    background-color: black;
    height: 100%;
    color: white;
    font-family: "Snell Roundhand", "cursive";
  }
    
  body{
    margin: 0px;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
    height:100% 
  }
  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  img:hover{
    opacity: 0.5;}
    
  #bild1{
    grid-row: 2/3;
    grid-column: 2/3;
  }
    
  #bild2{
      grid-row: 4/5;
      grid-column: 2/3;
  }

  #bild3{
    grid-row: 6/7;
    grid-column: 2/3
  }

  #bild4{
    grid-row: 8/9;
     grid-column: 2/3;
  }

  h1{
    display: none;
    font-size: 1.5em;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  h2{
    display: none;
    font-size: 3em;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  article{
    display: none;
    grid-row: 3/7;
    grid-column: 2/3;
    text-align: center;
    font-size: 1em;
  }
  ul{
    display:none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px)
{
  html{
    background-color: black;
    height: 100%;
    color: white;
    font-family: "Snell Roundhand", "cursive";
  }
    
  body{
    margin: 0px;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
    height:100% 
  }
  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  img:hover{
    opacity: 0.5;}
    
  #bild1{
    grid-row: 2/3;
    grid-column: 2/3;
  }
    
  #bild2{
      grid-row: 4/5;
      grid-column: 2/3;
  }

  #bild3{
    grid-row: 6/7;
    grid-column: 2/3
  }

  #bild4{
    grid-row: 8/9;
     grid-column: 2/3;
  }

  h1{
    font-size: 1.5em;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  h2{
    display: none;
    font-size: 3em;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  article{
    grid-row: 3/7;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.5em;
  }
  ul{
    display:none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
  html{
    background-color: black;
    height: 100%;
    color: white;
    font-family: "Snell Roundhand", "cursive";
  }
    
  body{
    margin: 0px;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
    height:100% 
  }
  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  img:hover{
    opacity: 0.5;}
    
  #bild1{
    grid-row: 2/3;
    grid-column: 2/3;
  }
    
  #bild2{
      grid-row: 4/5;
      grid-column: 2/3;
  }

  #bild3{
    grid-row: 6/7;
    grid-column: 2/3
  }

  #bild4{
    grid-row: 8/9;
     grid-column: 2/3;
  }

  h1{
    font-size: 1.5em;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  h2{
    display: none;
    font-size: 3em;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  article{
    grid-row: 3/7;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.5em;
  }
  ul{
    display:none;
  }
  
}


@media (min-width: 1025px) and (max-width: 1280px) 
{
  html{
    background-color: black;
    height: 100%;
  }
    
  body{
    margin: 0px;
    display: grid;
    grid-template-columns: 0.41fr 1fr 0.18fr 1fr 0.41fr;
    grid-template-rows: 0.33fr 1fr 0.34fr 1fr 0.33fr;
    height: 100%;
  }

  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  img:hover{
      opacity: 0.5;
  }

  #bild1{
      grid-row: 2/3;
      grid-column: 2/3;
  }
    
  #bild2{
      grid-row: 2/3;
      grid-column: 4/5;
  }

  #bild3{
      grid-row: 4/5;
      grid-column: 2/3;
  }

  #bild4{
    grid-row: 4/5;
     grid-column: 4/5;
  }

  ul 
  {
    grid-row: 1/6;
    grid-column: 1/2;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
  }
  
  li{
    text-align: center;
    font-size: 2em;
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
  }

  li:hover {
    background-color: rgb(85, 81, 81);
    color: white;
  }
  h1{
    display: none;
  }
  h2{
    display: none;
    grid-column:2/5;
    font-size: 5em;
    text-align: center;
  }
  article{
    grid-column: 2/6;
    text-align: center;
    font-size: 1.5em;
  }
  
}

@media only screen and (min-width: 1281px)
{
  html{
    background-color: black;
    height: 100%;
  }
    
  body{
    margin: 0px;
    display: grid;
    grid-template-columns: 0.41fr 1fr 0.18fr 1fr 0.41fr;
    grid-template-rows: 0.33fr 1fr 0.34fr 1fr 0.33fr;
    height: 100%;
  }

  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  img:hover{
      opacity: 0.5;
  }

  #bild1{
      grid-row: 2/3;
      grid-column: 2/3;
  }
    
  #bild2{
      grid-row: 2/3;
      grid-column: 4/5;
  }

  #bild3{
      grid-row: 4/5;
      grid-column: 2/3;
  }

  #bild4{
    grid-row: 4/5;
     grid-column: 4/5;
  }

  ul 
  {
    grid-row: 1/6;
    grid-column: 1/2;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
  }
  
  li{
    text-align: center;
    font-size: 2em;
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
  }

  li:hover {
    background-color: rgb(85, 81, 81);
    color: white;
  }
  h1{
    display: none;
  }
  h2{
    display: none;
    grid-column:2/5;
    font-size: 5em;
    text-align: center;
  }
  article{
    grid-column: 2/6;
    text-align: center;
    font-size: 1.5em;
  }
  
}

